* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Helvetica Neue", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#outside {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 7rem;
}

#inside {
  flex: 1;
  display: none;
}

form input, textarea {
  padding: 0.2rem 0.3rem;
}

#title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0.5rem;
  align-self: center;
}

#subtitle {
  text-align: center;
  margin-bottom: 1.4rem;
}

.form1 {
  margin: 0 2rem;
  padding: 1rem;
  width: 16rem;
  background-color: #eaeaea;
  border: 0.2rem solid transparent;
  line-height: 2.2rem;
  text-align: center;
}

.form1:focus-within {
  border-color: black;
}

.form1title {
  margin-bottom: 0.4rem;
}

input {
  border: 1px solid black;
}

.input1 {
  width: 85%;
}

.input2 {
  width: 93%;
}

hr {
  border-top: 1px solid #555;
  margin: 0.7rem 0;
}

.button {
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.2rem 0.5rem;
  background-color: #fff;
  border: 1px solid black;
}

.button1 {
  margin-top: 0.5rem;
}

.button:hover {
  background-color: #eee;
}

.button2 {
  cursor: pointer;
}

.button2:hover {
  color: #c4591b;
}

#reg-message {
  text-align: center;
  margin: 2.8rem auto;
  padding: 0.8rem;
  border: 0.2rem solid black;
  max-width: 15rem;
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.8rem;
  color: #fff;
  background-color: black;
  z-index: 3;
}

#toplogo {
  font-size: 1.2rem;
}

a.navlink {
  cursor: pointer;
  text-decoration: none;
  padding: 0.2rem 0.4rem;
  margin: 0 1rem;
}

a.navlink:hover {
  text-shadow: 0 0 0.3rem #d8d8d8;
}

.heading-md {
  font-size: 1.1rem;
}

.heading-lg {
  font-size: 1.6rem;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  z-index: 7;
  background-color: #14141486;
}

.modalcontent {
  text-align: center;
  min-width: 19rem;
  margin: auto;
  padding: 1.5rem;
  background-color: #e3e3e3;
  border: 0.3rem solid #333;
  box-shadow: 0 0 1.5rem #333;
}

.modalcontent > p {
  margin-bottom: 0.6rem;
}

#grid {
  width: 100%;
  min-height: calc(100% - 2.8rem);
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
}

section {
  padding: 0.6rem 0;
}

.pad {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.padcards {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

#search {
  border-right: 1px solid black;
}

#favorites {
  border-right: 1px solid black;
}

#search-status {
  margin-left: 0.7rem; 
  font-size: 0.9rem;
  color: #eb9461;
}

#clear {
  display: none;
  margin-left: 0.2rem;
}

#list1, #list2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#list2 {
  margin-top: 1rem;
}

.card {
  position: relative;
  padding: 0;
  width: 182px;
  border: 1px solid black;
  box-shadow: 0 0 0.7rem -0.4rem;
  margin: 0 0.3rem 1rem 0.3rem;
}

.card-lg {
  width: 280px;
  display: flex;
  flex-direction: column;
}

.albumart {
  display: block;
  width: 100%;
  margin: 0;
}

.plus {
  cursor: pointer;
  position: absolute;
  transform: translate(8rem, -0.8rem);
  width: 2.9rem;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
  background-color: #d8805d;
  border-radius: 0.4rem;
  box-shadow: 0 0 0.7rem -0.3rem black;
  z-index: 3;
}

.plus:hover {
  background-color: #bb603c;
}

.cardcontent {
  padding: 0.8rem 0.8rem 0.7rem 0.8rem;
  border-top: 1px solid black;
  font-size: 0.9rem;
}

.cardcontent-lg {
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
}

.album-buttons {
  margin-top: auto;
  padding: 0 1rem 0.6rem 1rem;
  display: flex;
  justify-content: space-between;
  color: #eb9461;
  font-size: 0.9rem;
}

.detail-content {
  display: none;
}

.detail-title {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.tracklist-heading {
  font-size: 1.2rem;
}

.tracklist {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  padding: 0;
  border: 1px solid black;
  line-height: 2rem;
}

.tracklist > li {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.tracklist > li:nth-child(odd) {
  background-color: #eaeaea;
}

.vidlink {
  color: #eb9461;
  text-decoration: none;
}

.vidlink:visited {
  color: #eb9461;
}

.vidlink:hover {
  color: #ce713c;
}

